extends ../layout

block content
  .row
    .col-sm-12   
        
    table.challengeTable
      .challengeHeading Challenges completed  
      tr
        th Username
        th Email
        th Challenge ID
        th Completed date
      each challenge in challenges
        tr
          td #{challenge.userName}
          td #{challenge.userEmail}
          td #{challenge.challengeID}
          td #{challenge.completedDate}
        