footer.py-3.bg-light.fixed-bottom
  .container
    #header-img
      img#mob(src='/images/mobitel.png', alt='mobitel',style="height:30px")
      img#mic(src='/images/mic.png', alt='mic',style="height:45px")
      img#radical(src='/images/radical.png', alt='radical',style="height:30px")
