extends layout

block content
  .row
    .col-sm-12
      #logo_container
        
        .btn-group
          a.btn.btn-primary(href="/challenges" ,id="viewChallengeBtn") View challenges completed
        .btn-group
          a.btn.btn-primary(href="/users" ,id="viewUserBtn") View users registered

