extends layout

block content
  .row
    .col-sm-12
      #logo_container
        img#logo(src='images/logo.png', alt='logo')
        img#io(src='images/io.png', alt='io')
        .btn-group
          button.btn.btn-primary(role='button',id="loginQrCodeBtn") View challenge data
