extends ../layout

block content
  .page-header
    h2
      i.fa.fa-upload
      | Import Event Users
  .row
    .col-sm-6
      form(role='form', enctype='multipart/form-data', method='POST')
        .form-group
          label.control-label File Input
          input(type='file', name='file')
        .form-group
          input#eventUserMaster(type='radio', name='destTable', value='eventUserMaster', checked='')
          label(for='eventUserMaster') Event User Master
        .form-group
          input#eventUser(type='radio', name='destTable', value='eventUser')
          label(for='eventUser') Event User
        button.btn.btn-primary(type='submit') Import
